html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #F7F7FF;
  text-align: center;
  font-family: 'Brygada 1918', serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #02020B;
  min-height: 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7vw;
}

.header h1 {
  margin-left: 2vw;
  color: #F7F7FF;
  font-size: 3vw;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  min-width: 30vw;
}

.header p {
  cursor: pointer;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1A1B25;
  min-height: 54vh;
  font-size: 1.7vw;
}

.body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  min-height: 100%;
}

.body .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 5vh;
}

.body .info .csgocases, .body .info .keydrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.body .info .csgocases div, .body .info .keydrop div {
  min-width: 50%;
}

.body .info img {
  max-width: 8vw;
  max-height: auto;
}

.body .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  min-height: 100%;
}

.body .login div {
  margin-bottom: 2vh;
}

.body .login .clickme {
  width: 100%;
  cursor: pointer;
}

.body .login .clickme a {
  color: #D36135;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 25vh;
  background-color: #1A1B25;
  font-size: 1.7vw;
}

.description div {
  width: 50%;
}

.description p {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.description img {
  width: 18vw;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  margin-top: 3vh;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #02020B;
  color: #F7F7FF;
  min-height: 6vh;
  font-size: 1vw;
}

.footer img {
  margin-left: 2vw;
  height: 3vh;
  width: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.redirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 79vh;
  background-color: #1A1B25;
}

.redirect div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.redirect p {
  font-size: 1.5vw;
}

.redirect button {
  font-size: 1.5vw;
  background-color: #1A1B25;
  margin-top: 2vh;
}

.commands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 79vh;
  background-color: #1A1B25;
  font-size: 1.2vw;
}

.commands .command {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.commands .command h3 {
  color: #D36135;
}

.commands .command .command-desc {
  width: 75%;
}

.commands .command .command-desc p {
  text-align: left;
}

.commands .command .option-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: 3vw;
  width: 25%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.commands .commands-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redirect-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.redirect-info div {
  width: 100%;
}

@media screen and (max-width: 480px) {
  p, h3, a, h2, h1 {
    font-size: 3.5vw;
  }
  .header h1 {
    font-size: 5vw;
  }
  .header .options {
    width: 50%;
  }
  .redirect-info div p, .redirect-info div button {
    font-size: 5vw;
  }
  .description div {
    width: 100%;
  }
  .description img {
    width: 50vw;
    height: auto;
  }
  .redirect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .redirect div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  p, h3, a, h2, h1 {
    font-size: 2.5vw;
  }
  .header h1 {
    font-size: 5vw;
  }
  .header .options {
    width: 50%;
  }
  .redirect-info div p, .redirect-info div button {
    font-size: 3vw;
  }
  .description img {
    width: 30vw;
    height: auto;
  }
}
/*# sourceMappingURL=App.css.map */